<div class="table-container">
    <table style="width: 100%; table-layout: fixed; font-size: 0.92em;">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Age</th>
                <th>Nationality</th>
                <th>Career Wins</th>
                <th>Season Money</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td style="text-align: center; font-size: 0.92em;">{{ player['tour_rank'] }}</td>
                <td style="text-align: left; font-size: 0.92em;">
                    {% set flag_code = country_to_flag_iso(player['nationality']) %}
                    {% if flag_code %}
                        <img src="{{ url_for('static', filename='flags/' ~ flag_code ~ '.svg') }}" alt="{{ player['nationality'] }} flag" style="width: 24px; height: 16px; vertical-align: middle; margin-right: 6px;">
                    {% endif %}
                    <strong>{{ player['name'] }}</strong>
                </td>
                <td style="text-align: center; font-size: 0.92em;">{{ player['age'] }}</td>
                <td style="text-align: center; font-size: 0.92em;">{{ player['nationality'] }}</td>
                <td style="text-align: center; font-size: 0.92em;">{{ player['career_wins'] }}</td>
                <td style="text-align: center; font-size: 0.92em;">${{ '{:,.2f}'.format(player['season_money']) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 