<div class="table-container" style="max-width: 1000px; margin: 0 auto;">
    <table id="player-history-table" style="width: 100%; table-layout: auto; font-size: 0.85em;">
        <thead>
            <tr>
                <th style="text-align: center; padding: 6px 4px; cursor: pointer;" data-sort-method="string"><span>Status</span> <span class="sort-arrow"></span></th>
                <th style="text-align: center; padding: 6px 4px; cursor: pointer;" data-sort-method="string"><span>Name</span> <span class="sort-arrow"></span></th>
                <th style="text-align: center; padding: 6px 4px; cursor: pointer;" data-sort-method="number"><span>Age</span> <span class="sort-arrow"></span></th>
                <th style="text-align: center; padding: 6px 4px; cursor: pointer;" data-sort-method="string"><span>Nationality</span> <span class="sort-arrow"></span></th>
                <th style="text-align: center; padding: 6px 0px; cursor: pointer;" data-sort-method="number"><span>Career Wins</span> <span class="sort-arrow"></span></th>
                <th style="text-align: center; padding: 6px 4px; cursor: pointer;" data-sort-method="number"><span>Top 10s</span> <span class="sort-arrow"></span></th>
                <th style="text-align: center; padding: 6px 4px; cursor: pointer;" data-sort-method="number"><span>Season Money</span> <span class="sort-arrow"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td style="text-align: center; font-size: 0.85em; padding: 6px 4px;">{{ player['status'] }}</td>
                <td style="text-align: center; font-size: 0.85em; padding: 6px 4px;">
                    {% set flag_code = country_to_flag_iso(player['nationality']) %}
                    {% if flag_code %}
                        <img src="{{ url_for('static', filename='flags/' ~ flag_code ~ '.svg') }}" alt="{{ player['nationality'] }} flag" style="width: 20px; height: 13px; vertical-align: middle; margin-right: 5px;">
                    {% endif %}
                    <strong>{{ player['name'] }}</strong>
                </td>
                <td style="text-align: center; font-size: 0.85em; padding: 6px 4px;">{{ player['age'] }}</td>
                <td style="text-align: center; font-size: 0.85em; padding: 6px 4px;">{{ player['nationality'] }}</td>
                <td style="text-align: center; font-size: 0.85em; padding: 6px 4px;">{{ player['career_wins'] }}</td>
                <td style="text-align: center; font-size: 0.85em; padding: 6px 4px;">{{ player['top_10s'] }}</td>
                <td style="text-align: center; font-size: 0.85em; padding: 6px 4px;">${{ '{:,.2f}'.format(player['season_money']) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 